<template>
  <div id="app">
    <Navigation :tabs="titles" :click="scrollTo" :current="scroll * (pages.length - 1)"/>
    <Page v-for="(page, i) in pages" :page="page" :style="{
      transform: `translate(${(i - (scroll * (pages.length - 1))) * 100}%, 0)`,
      opacity: 1 - Math.abs((i - (scroll * (pages.length - 1)))),
      }"/>
  </div>
</template>

<script>
import Navigation from './Navigation.vue'
import Page from './Page.vue'

const tmp = 'http://www.full-container.com/media/catalog/product/cache/7/image/700x700/17f82f742ffe127f42dca9de82fb58b1/p/k/pk22-inspired-by-poul-kjaerholm-01.jpg'

const s = 0.2
const step = x => x

export default {
  components: { Page, Navigation },

  data () {
    return {
      msg: 'Hello Vue 2.0!',
      percent: 0,

      pages: [
        {
          title: 'Poul Kjærholm',
          type: 'full-image',
          url: 'http://theredlist.fr/media/database/design-categorie/here-and-now/1945-1960/scandinavian-design/poul_kjaerholm/028-poul-kjaerholm-theredlist.jpg',
        },
        {
          title: 'Intro',
          type: 'left-rightimage',
          left: `
Poul Kjærholm blev født d. 8 Januar i Østervrå i nordjylland. Mange mener at hans opvækst havde en stor indflydelse på hans syn på design idet at han ofte forsøger at holde rødderne i det klassiske. Det genkendelige.
Han blev uddannet snedkerlærling i 1948, hvor derefter tog han uddannelse i håndværkerskolen, og fik færdiggjort sin uddannelse i 1952.
I 1953 giftede han sig med Hanne Kjærholm, som gik hen og blev kendt i arkitektverdenen, mens Poul fokuseret hans arbejde på møbeldesign.
I 1959 blev han lektor for kunstakademiets møbelskole, hvor han fortsatte indtil 1976, hvor han blev kåret som professor i arkitektur med møbelkunst og rumkunst som fagområde.
Poul Kjærholm karriere var bygget på hans originalitet som møbelkunstner, det havde altid været dansk designtradition at fokusere på træ, hvor Poul kom ind og arbejdede med stål. Stålet gjorde at Poul kunne være mere kreativ og minimalistik i hans designprodukter. Poul Kjærholm opbyggede hans eksklusive kollektion af møbler sammen med møbelproducenten E. Kold Christensen.
Den 18. April 1980 afgik Poul Kjærholm ved døden, han døde i hans hjem i Hillerød og blev begravet i Hjørring.`,
          url: 'http://www.dmk.dk/img/poul-kjaerholm.jpg',
          picText: 'Poul Kjærholm i ca. 1955',
        },

        {
          title: 'PK25',
          type: 'left-rightimage',
          left: 'En tidlig version af hans kendte PK22, og hans afgangsprojekt fra arkitektskolen. Det benytter mere metal, hårde linjer og industrielle materialer end PK22 og passer derfor også ind i en mere udendørs, hjemlig og/eller receptions-mæssig sammenhæng. Dette var begyndelsen på hans strejf med minimalistiske og balance-udfordrende greb.',
          url: 'http://www.suiteny.com/assets/upload/product_images/original/PK25_Caramel_HR.jpg',
        },

        {
          title: 'PK22',
          type: 'full-image',
          url: 'http://midmod-design.com/beta/general/uploads/51801a90a2a6a-groot1.jpeg',
        },
        {
          title: 'PK22',
          type: 'left-rightimage',
          left: `
Oftest regnet for hans mest ikoniske værk. Denne videreudvikling af PK25 er hans mest finpudsede, med varianter i mange farver og forskellige materialer. Eksempelvis former for læder og variable træsorter med forskellige teksturer og styrker. Beskyttet af et stykke canvas og filter og alt sammen spændt om et simpelt stel i matforkromet stål. Møblet er effektivt balanceret og kan bære stor vægt trods sin størrelse. Rent funktionelt betegnes det som en Loungestol.`,
          url: 'http://www.full-container.com/media/catalog/product/cache/7/image/700x700/17f82f742ffe127f42dca9de82fb58b1/p/k/pk22-inspired-by-poul-kjaerholm-01.jpg',
          picText: 'PK22 betragt i sort lædder',
        },

        {
          title: 'PK 61, 26, 111',
          type: 'left-rightimage',
          flip: true,
          url: 'https://i.imgur.com/XrKliJC.jpg',
          left: `Et lavtsiddende bord med rødder i klassisk design og brug af industrielle materialer. Dog med det twist at bordbenene er placeret vinkelret i forhold til hinanden, som danner et firkantet, underliggende skelet og en tyk bordplade af marmor, træ eller glas.

PK26 er mere “blød” end hans andre møbler. Mere klassisk. Pudeformet og behagelig flade med et dække i  spraglede rødt, brunt eller sort læder. Men som mange af Kjærholms design’s, har dette design en symmetrisk forskel der skiller det ud. I dette tilfælde hvad han funktionelt betegne som en “hængesofa” idet at den monteres til en given væg, og tildeler den en rolle af officialitet og professionalisme. Dette er et møbel man ville se monteret i en venteværelse.

En skærm af lamineret ask og mystiske dimensioner. Simple stykker af træ, kører på kryds og tværs for at danne en simpel enkeltfarvet skillevæg bestående af seks paneler. Dette møbel står, mere end normen, til forskel i sin enkelthed. Det bygger ikke på kontraster og industrielle materialer ligesom Pk22 eller Pk61. Til gengælde bærer møblet en større muligheder i forhold til brugssituation i modsætning til førnævnte møbler som har mere definerede roller.
`,
        },

        {
          title: 'PK 11, 51, 55, 80',
          type: 'full-image',
          url: 'http://i.imgur.com/Ae6tmVd.jpg'
        },

        {
          title: 'PK 11, 51, 55, 80',
          type: 'left-rightimage',
          url: 'https://i.imgur.com/OO5taoP.png',
          left: `Begge værker er udtænkt af Poul Kjærholm til at fungere som arbejdsstol og arbejdsbord. Møblerne har samme farvepalette og materialer og samme slanke, firkantede profil. I billeder og generelt i salgsfremmende materiale ses de to møbler altid sammen. Det er åbenlyst at Kjærholm så dem som en uadskilleligt sæt.

Hertil tilhører også Pk 55, med samme stil, materialer og profil. Den eneste forskel ligger i dimensionerne hvori at Pk 55 er en bredere version af lillebroren Pk 51.

Pk 80 er et meget unikt møbel og trækker meget på det klassiske, ligesom hans tidligere producerede Pk 26. Denne gang i form af en briks dækket af læderpolstring i en variation af forskellige farver, ovenpå et skelet af satinbørstet og rustfrit stål. Man fornemmer virkelig Kjærholms kærlighed for industrielle materiale.
Trods sin læder-dækkede overflade er briksen profil overordentligt simplistisk med simple linjer og en lineær form med kvadratisk placerede ben.`
        },

        {
          title: 'PK 24',
          type: 'left-rightimage',
          flip: true,
          url: 'http://i.imgur.com/KoFzeg4.jpg',
          left: `PK24 er en liggestol designet af Poul Kjærholm, som er designet med den samme minimalistiske udtryk som vi ser i de andre design stole af Poul Kjærholm. Liggestolen har også matforkromet stål som holder den oppe og den er bygget med få dele. Stolen er meget lav og tæt på gulvet, Sædet valgte Poul Kjærholm at lave ud af peddigrør. Siden 2005 blev det matforkromet stål erstattet af børstet rustfri stål, og siden 2007 kunne du i stedet for peddigrør få stolen i læder.`
        },

        {
          title: 'PK 20',
          type: 'left-rightimage',
          url: 'http://i.imgur.com/kEiPY5H.jpg',
          left: `Inspiration både af og til dette design er tydeligt. Stolene af denne variant laves også i dag, af mange forskellige designere og møbelproducenter. Kjærholm bringer dog sine genkendelige træk, som industrielle materiale, simple former og linjer og muligheder hvad angår læder eller flettet træ.
Ligesom Pk22 benytter lænestolens stel matforkromet stål, denne gang i fjederståls-format.`
        },

        {
          title: 'PK 27',
          flip: true,
          type: 'left-rightimage',
          url: 'http://i.imgur.com/1dZuN68.jpg',
          left: `Hvad angår materialer er dette møbel en afvigelse fra de industrielle materialer, i bytter for et stel af lamineret ahorn og støddæmpere af gummi på fødderne. Dog bevares hans klassiske profil med simple greb og en symmetrisk profil. Dog afviger han ikke fra at benytte læder til at betrække ryg og sæde.`
        },

        {
          title: 'Legacy',
          type: 'left-rightimage',
          left: `
Poul Kjærholm’s inspirerende stil har demonstreret en måde hvorpå møbler og dertil også mange andre former for design kan kommunikere modernisme, symmetri, balance og meget andet, på en simpel og enkel måde for mange målgrupper.`,
          url: 'http://theredlist.com/media/database/design-categorie/here-and-now/1945-1960/scandinavian-design/poul_kjaerholm/026-poul-kjaerholm-theredlist.jpg',
          picText: 'Poul Kjærholm i ca. 1977',
        }
      ],

      targetPercent: 0,
      isScrolling: false,
      interval: null,
    }
  },

  computed: {
    titles: state => state.pages.map(a => a.title),
    scroll: state => {
      const x = state.percent

      return step(x * state.pages.length) / state.pages.length
    }
  },

  methods: {
    scrollTo(percent) {
      this.targetPercent = percent
      this.isScrolling = true

      this.step()
    },
    step() {
      if (!this.isScrolling) {
        return
      }

      const height = document.body.scrollHeight - window.innerHeight

      window.scroll(0, height * this.targetPercent)

      requestAnimationFrame(() => this.step())
    }
  },

  created() {
    window.addEventListener('scroll', e => {
      this.percent = window.scrollY / (document.body.scrollHeight - window.innerHeight)
      this.isScrolling = false
    })
  }
}
</script>

<style>
@import 'https://fonts.googleapis.com/css?family=Questrial|Quicksand';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Questrial', sans-serif;
  height: 5000px;
  width: 100%;
}

img {
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);;
}

.pages {
  position: relative;
  width: 100%;
  height: 10px;
}

h1, h2, h3, h4 {
  font-family: 'Quicksand', sans-serif;
  color: #4c4c4c;
}

#app {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
}
</style>
