<template>
  <nav class="header">
    <h1>Header</h1>
    <h1>Header</h1>
    <h1>Header</h1>
    <h1>Header</h1>
  </nav>
</template>

<style>
  .header {
    width: 100%;
    border: 1px solid red;
    margin: 0 0 1em 0;

    display: flex;
    justify-content: space-around;
  }
</style>
