<template>
  <nav class="header">
    <h1
      v-for="(title, i) in tabs"
      :style="{
        'font-size': `${Math.min(Math.max(2 - Math.abs(i - current), 1), 3)}em`
      }"
      @click="click((i + 1) / tabs.length)"
    >
      {{ title }}
    </h1>
  </nav>
</template>

<script>
  export default {
    props: ['tabs', 'current', 'click'],

    data: () => ({
      timeout: null,
      target: 0,
      scrolling: false
    }),

  }
</script>

<style>
  .header {
    width: 100%;
    margin: 0 0 1em 0;
    height: 50px;

    display: flex;
    justify-content: space-around;
  }
</style>
