<template>
  <div class="page-container">
    <div v-if="type == 'full-image'" class="fullimage">
      <div>
        <img :src="page.url" alt="">
        <!-- <div class="page-image" :style="`background-image: url('${page.url}')`"></div> -->
        <h1>{{ title }}</h1>
      </div>
    </div>
    <div v-else class="page-container">
      <template v-if="type == 'left-rightimage'">
        <div class="collum" v-if="!page.flip">
          <h1>{{ title }}</h1>
          <p v-for="t in left">{{ t }}</p>
        </div>
        <div class="collum">
          <img :src="page.url" alt="">
          <p class="textcenter" v-if="page.picText">{{ page.picText }}</p>
        </div>
        <div class="collum" v-if="page.flip">
          <h1>{{ title }}</h1>
          <p v-for="t in left">{{ t }}</p>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'page'
  ],

  computed: {
    title: state => state.page.title,
    type: state => state.page.type,
    url: state => state.page.url,
    left: state => state.page.left.split('\n')
  },
}
</script>

<style>
  .textcenter {
    text-align: center;
  }

  .page-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    flex-direction: row;
  }

  .page-container p {
    margin-top: 10px;
  }

  .collum {
    width: 40%;
  }

  .collum img {
    width: 100%;
  }

  .fullimage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-50px);
  }

  .fullimage img {
    max-width: 100%;
    max-height: 100vh;
  }

  .page-image {
    height: 100vh;
    width: 100vw;
    transform: translateY(-50px);
    background-size: cover;
  }
</style>
